//============================================================================================
//
// WEB VARIABLES
//
//============================================================================================

$navigation-top-bg: #003418;
$navigation-bg-hover: #003418;
$bottom-bg: #003418;
$slider-bg: #003418;
