//============================================================================================
//
// FOOTER
//
//============================================================================================

.wrapper-footer {
  background-color: $secondary;
  padding-top: 90px;
  padding-bottom: 110px;
}
