//============================================================================================
//
// HEADER
//
//============================================================================================

.wrapper-header {
  padding: 15px 20px 15px;
  background-color: theme-color('secondary');
  border-bottom: 3px solid theme-color('primary');

  @include media-breakpoint-down(md) {
    padding: 30px 20px 32px;
  }

  @include media-breakpoint-down(sm) {
    padding: 10px 0 12px;
  }
}

.header-logotip {
  float: left;
}

.header-navigation {
  padding-top: 0;
  @extend
  .d-flex,
  .justify-content-center;

  @include media-breakpoint-down(md) {
    float: none;
    clear: both;
    display: none;
  }
}