//============================================================================================
//
// MAIN
//
//============================================================================================

.wrapper-content {
  padding-top: 30px;
  background-color: #fff;

  .container {
    width: 100%;
    max-width: 1500px;

    .contacts {
      padding-top: 10px;
    }
  }
}